/*
|----------------------
| GLOBAL SETTINGS
|----------------------
*/
$base-font-size: 16px;
$min-viewport: 375;
$max-viewport: 1516;

/*
|-----------------------------
| LAYOUT & GRID
|-----------------------------
*/
$container-max-width: 1278px;
$container-padding: 16px;

/*
|--------------------------------------
| TYPOGRAPHY
|--------------------------------------
*/
$font-main: "Poppins", sans-serif;
$font-accent: "Luckiest Guy", cursive;
